div {
    text-align: center;
    font-size: x-large;
        
}

 img{
    display: block;
    margin: 0 auto;
    width: 25%;
} 
.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }



#testbox{
 float:center;
}